slnCondominio/trunk/Test/Service References/SOAReservasService/ReservasService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Architects.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Architects.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEspacioComun">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EspacioComun" nillable="true" type="tns:EspacioComun" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEspacioComun" nillable="true" type="tns:ArrayOfEspacioComun" />
  <xs:complexType name="EspacioComun">
    <xs:sequence>
      <xs:element minOccurs="0" name="B_Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="C_Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="N_IdEspacioComun" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EspacioComun" nillable="true" type="tns:EspacioComun" />
</xs:schema>