slnCondominio/trunk/Test/Service References/SOAResidenteService/ResidenteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ResidenteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53631/ResidenteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53631/ResidenteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53631/ResidenteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Architects.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IResidenteService_CrearResidente_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearResidente" />
  </wsdl:message>
  <wsdl:message name="IResidenteService_CrearResidente_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearResidenteResponse" />
  </wsdl:message>
  <wsdl:message name="IResidenteService_ListarResidente_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarResidente" />
  </wsdl:message>
  <wsdl:message name="IResidenteService_ListarResidente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResidenteResponse" />
  </wsdl:message>
  <wsdl:portType name="IResidenteService">
    <wsdl:operation name="CrearResidente">
      <wsdl:input wsaw:Action="http://tempuri.org/IResidenteService/CrearResidente" message="tns:IResidenteService_CrearResidente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResidenteService/CrearResidenteResponse" message="tns:IResidenteService_CrearResidente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarResidente">
      <wsdl:input wsaw:Action="http://tempuri.org/IResidenteService/ListarResidente" message="tns:IResidenteService_ListarResidente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResidenteService/ListarResidenteResponse" message="tns:IResidenteService_ListarResidente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IResidenteService" type="tns:IResidenteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearResidente">
      <soap:operation soapAction="http://tempuri.org/IResidenteService/CrearResidente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarResidente">
      <soap:operation soapAction="http://tempuri.org/IResidenteService/ListarResidente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ResidenteService">
    <wsdl:port name="BasicHttpBinding_IResidenteService" binding="tns:BasicHttpBinding_IResidenteService">
      <soap:address location="http://localhost:53631/ResidenteService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>