trunk/ARCHITECTSCONDOMINIO/Architecs.Test/Service References/SOAPReservaService/ReservaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Architecs.ReservasService.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Architecs.ReservasService.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReservasBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="B_Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="D_FecRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="N_IdEspacioComun" type="xs:int" />
      <xs:element minOccurs="0" name="N_IdHorarioFin" type="xs:int" />
      <xs:element minOccurs="0" name="N_IdHorarioIni" type="xs:int" />
      <xs:element minOccurs="0" name="N_IdReserva" type="xs:int" />
      <xs:element minOccurs="0" name="N_IdResidente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservasBE" nillable="true" type="tns:ReservasBE" />
  <xs:complexType name="ArrayOfEspacioComunBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EspacioComunBE" nillable="true" type="tns:EspacioComunBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEspacioComunBE" nillable="true" type="tns:ArrayOfEspacioComunBE" />
  <xs:complexType name="EspacioComunBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="B_Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="C_Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="N_IdEspacioComun" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EspacioComunBE" nillable="true" type="tns:EspacioComunBE" />
</xs:schema>