trunk/ARCHITECTSCONDOMINIO/Architecs.Test/Service References/SOAPReservaService/ReservaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReservaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59157/ReservaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59157/ReservaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59157/ReservaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Architecs.ReservasService.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReservaService_CreaReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:CreaReserva" />
  </wsdl:message>
  <wsdl:message name="IReservaService_CreaReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreaReservaResponse" />
  </wsdl:message>
  <wsdl:message name="IReservaService_CreaReserva_StringFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q1:string" />
  </wsdl:message>
  <wsdl:message name="IReservaService_ListarEspacioComun_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEspacioComun" />
  </wsdl:message>
  <wsdl:message name="IReservaService_ListarEspacioComun_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEspacioComunResponse" />
  </wsdl:message>
  <wsdl:message name="IReservaService_ListarEspacioComun_StringFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q2:string" />
  </wsdl:message>
  <wsdl:portType name="IReservaService">
    <wsdl:operation name="CreaReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservaService/CreaReserva" message="tns:IReservaService_CreaReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservaService/CreaReservaResponse" message="tns:IReservaService_CreaReserva_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IReservaService/CreaReservaStringFault" name="StringFault" message="tns:IReservaService_CreaReserva_StringFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEspacioComun">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservaService/ListarEspacioComun" message="tns:IReservaService_ListarEspacioComun_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservaService/ListarEspacioComunResponse" message="tns:IReservaService_ListarEspacioComun_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IReservaService/ListarEspacioComunStringFault" name="StringFault" message="tns:IReservaService_ListarEspacioComun_StringFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReservaService" type="tns:IReservaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreaReserva">
      <soap:operation soapAction="http://tempuri.org/IReservaService/CreaReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StringFault">
        <soap:fault use="literal" name="StringFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarEspacioComun">
      <soap:operation soapAction="http://tempuri.org/IReservaService/ListarEspacioComun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StringFault">
        <soap:fault use="literal" name="StringFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReservaService">
    <wsdl:port name="BasicHttpBinding_IReservaService" binding="tns:BasicHttpBinding_IReservaService">
      <soap:address location="http://localhost:59157/ReservaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>