trunk/ARCHITECTSCONDOMINIO/Architecs.Test/Service References/SOAPJuntasService/JuntaService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Architecs.ReunionesService.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Architecs.ReunionesService.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDirectivo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Directivo" nillable="true" type="tns:Directivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDirectivo" nillable="true" type="tns:ArrayOfDirectivo" />
  <xs:complexType name="Directivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="B_Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="C_Cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="C_NomPer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="N_IdDirectivo" type="xs:int" />
      <xs:element minOccurs="0" name="N_IdResidente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Directivo" nillable="true" type="tns:Directivo" />
  <xs:complexType name="ArrayOfListaJuntas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListaJuntas" nillable="true" type="tns:ListaJuntas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListaJuntas" nillable="true" type="tns:ArrayOfListaJuntas" />
  <xs:complexType name="ListaJuntas">
    <xs:sequence>
      <xs:element minOccurs="0" name="C_Acuerdo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="C_Cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="C_Hora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="C_NomPer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="C_PREJUN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="C_Tema" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="D_Fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="N_IdJunta" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaJuntas" nillable="true" type="tns:ListaJuntas" />
</xs:schema>