ARCHITECTSCONDOMINIO/Architecs.Presentacion/Service References/JuntaService/JuntaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JuntaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62067/JuntaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62067/JuntaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Architects.Dominio" />
      <xsd:import schemaLocation="http://localhost:62067/JuntaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62067/JuntaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Architecs.ReunionesService.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJuntaService_listarDirectivos_InputMessage">
    <wsdl:part name="parameters" element="tns:listarDirectivos" />
  </wsdl:message>
  <wsdl:message name="IJuntaService_listarDirectivos_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarDirectivosResponse" />
  </wsdl:message>
  <wsdl:message name="IJuntaService_listarDirectivos_RetornaMensajeFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Architects.Dominio" name="detail" element="q1:RetornaMensaje" />
  </wsdl:message>
  <wsdl:message name="IJuntaService_CreaJunta_InputMessage">
    <wsdl:part name="parameters" element="tns:CreaJunta" />
  </wsdl:message>
  <wsdl:message name="IJuntaService_CreaJunta_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreaJuntaResponse" />
  </wsdl:message>
  <wsdl:message name="IJuntaService_CreaJunta_RetornaMensajeFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Architects.Dominio" name="detail" element="q2:RetornaMensaje" />
  </wsdl:message>
  <wsdl:message name="IJuntaService_CreaJuntaDirectivos_InputMessage">
    <wsdl:part name="parameters" element="tns:CreaJuntaDirectivos" />
  </wsdl:message>
  <wsdl:message name="IJuntaService_CreaJuntaDirectivos_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreaJuntaDirectivosResponse" />
  </wsdl:message>
  <wsdl:message name="IJuntaService_CreaJuntaDirectivos_RetornaMensajeFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Architects.Dominio" name="detail" element="q3:RetornaMensaje" />
  </wsdl:message>
  <wsdl:message name="IJuntaService_listarJuntas_InputMessage">
    <wsdl:part name="parameters" element="tns:listarJuntas" />
  </wsdl:message>
  <wsdl:message name="IJuntaService_listarJuntas_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarJuntasResponse" />
  </wsdl:message>
  <wsdl:message name="IJuntaService_listarJuntas_RetornaMensajeFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Architects.Dominio" name="detail" element="q4:RetornaMensaje" />
  </wsdl:message>
  <wsdl:portType name="IJuntaService">
    <wsdl:operation name="listarDirectivos">
      <wsdl:input wsaw:Action="http://tempuri.org/IJuntaService/listarDirectivos" message="tns:IJuntaService_listarDirectivos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJuntaService/listarDirectivosResponse" message="tns:IJuntaService_listarDirectivos_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IJuntaService/listarDirectivosRetornaMensajeFault" name="RetornaMensajeFault" message="tns:IJuntaService_listarDirectivos_RetornaMensajeFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreaJunta">
      <wsdl:input wsaw:Action="http://tempuri.org/IJuntaService/CreaJunta" message="tns:IJuntaService_CreaJunta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJuntaService/CreaJuntaResponse" message="tns:IJuntaService_CreaJunta_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IJuntaService/CreaJuntaRetornaMensajeFault" name="RetornaMensajeFault" message="tns:IJuntaService_CreaJunta_RetornaMensajeFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreaJuntaDirectivos">
      <wsdl:input wsaw:Action="http://tempuri.org/IJuntaService/CreaJuntaDirectivos" message="tns:IJuntaService_CreaJuntaDirectivos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJuntaService/CreaJuntaDirectivosResponse" message="tns:IJuntaService_CreaJuntaDirectivos_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IJuntaService/CreaJuntaDirectivosRetornaMensajeFault" name="RetornaMensajeFault" message="tns:IJuntaService_CreaJuntaDirectivos_RetornaMensajeFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarJuntas">
      <wsdl:input wsaw:Action="http://tempuri.org/IJuntaService/listarJuntas" message="tns:IJuntaService_listarJuntas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJuntaService/listarJuntasResponse" message="tns:IJuntaService_listarJuntas_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IJuntaService/listarJuntasRetornaMensajeFault" name="RetornaMensajeFault" message="tns:IJuntaService_listarJuntas_RetornaMensajeFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IJuntaService" type="tns:IJuntaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listarDirectivos">
      <soap:operation soapAction="http://tempuri.org/IJuntaService/listarDirectivos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RetornaMensajeFault">
        <soap:fault use="literal" name="RetornaMensajeFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreaJunta">
      <soap:operation soapAction="http://tempuri.org/IJuntaService/CreaJunta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RetornaMensajeFault">
        <soap:fault use="literal" name="RetornaMensajeFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreaJuntaDirectivos">
      <soap:operation soapAction="http://tempuri.org/IJuntaService/CreaJuntaDirectivos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RetornaMensajeFault">
        <soap:fault use="literal" name="RetornaMensajeFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listarJuntas">
      <soap:operation soapAction="http://tempuri.org/IJuntaService/listarJuntas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RetornaMensajeFault">
        <soap:fault use="literal" name="RetornaMensajeFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JuntaService">
    <wsdl:port name="BasicHttpBinding_IJuntaService" binding="tns:BasicHttpBinding_IJuntaService">
      <soap:address location="http://localhost:62067/JuntaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>