ARCHITECTSCONDOMINIO/Architecs.QuejasService/Service References/QuejaServiceMess/QuejaServiceMessage1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Architecs.QuejasService.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Architecs.QuejasService.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62070/QuejaServiceMessage.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Architects.Dominio" />
  <xs:complexType name="Queja">
    <xs:sequence>
      <xs:element minOccurs="0" name="B_Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="C_Detalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="C_Motivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="C_Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="D_FecQueja" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="D_FecRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="N_IdQueja" type="xs:int" />
      <xs:element minOccurs="0" name="N_IdResidente" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Architects.Dominio" minOccurs="0" name="Residente" nillable="true" type="q1:ResidenteBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Queja" nillable="true" type="tns:Queja" />
</xs:schema>