trunk/ARCHITECTSCONDOMINIO/Architecs.QuejasService/Service References/QuejaServiceMess/QuejaServiceMessage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62070/QuejaServiceMessage.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Architecs.QuejasService.Dominio" />
  <xs:element name="CrearQuejaMensaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Architecs.QuejasService.Dominio" minOccurs="0" name="QuejaCrear" nillable="true" type="q1:Queja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearQuejaMensajeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Architecs.QuejasService.Dominio" minOccurs="0" name="CrearQuejaMensajeResult" nillable="true" type="q2:Queja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaQuejaEnCola">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaQuejaEnColaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertaQuejaEnColaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>