trunk/ARCHITECTSCONDOMINIO/Architecs.Presentacion/Web References/JuntaService/JuntaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62067/JuntaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Architecs.ReunionesService.Dominio" />
  <xs:element name="listarDirectivos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="C_NomPer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarDirectivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Architecs.ReunionesService.Dominio" minOccurs="0" name="listarDirectivosResult" nillable="true" type="q1:ArrayOfdirectivo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaJunta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="D_Fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="C_Hora" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="C_Tema" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="C_Acuerdo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaJuntaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreaJuntaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaJuntaDirectivos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="N_IdJunta" type="xs:int" />
        <xs:element minOccurs="0" name="N_IdDirectivo" type="xs:int" />
        <xs:element minOccurs="0" name="C_PreJun" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="B_Estado" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaJuntaDirectivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreaJuntaDirectivosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>