ARCHITECTSCONDOMINIO/Architecs.Test/Service References/SOAPReservaService/ReservaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59157/ReservaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Architecs.ReservasService.Dominio" />
  <xs:element name="CreaReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Architecs.ReservasService.Dominio" minOccurs="0" name="ObjReserva" nillable="true" type="q1:ReservasBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Architecs.ReservasService.Dominio" minOccurs="0" name="CreaReservaResult" nillable="true" type="q2:ReservasBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEspacioComun">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEspacioComunResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Architecs.ReservasService.Dominio" minOccurs="0" name="ListarEspacioComunResult" nillable="true" type="q3:ArrayOfEspacioComunBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>