slnCondominio/trunk/Test/Service References/SOAPagosService/CuotaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53631/CuotaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Architects.Dominio" />
  <xs:element name="ListarTipoPago">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Architects.Dominio" minOccurs="0" name="ListarTipoPagoResult" nillable="true" type="q1:ArrayOfTipoPago" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearTipoPago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearTipoPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Architects.Dominio" minOccurs="0" name="CrearTipoPagoResult" nillable="true" type="q2:TipoPago" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>