slnCondominio/trunk/Test/Service References/SOAPagosService/CuotaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Condominio.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Condominio.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTipoPago">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoPago" nillable="true" type="tns:TipoPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoPago" nillable="true" type="tns:ArrayOfTipoPago" />
  <xs:complexType name="TipoPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="B_Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="C_Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="N_IdTipoPago" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoPago" nillable="true" type="tns:TipoPago" />
</xs:schema>