ARCHITECTSCONDOMINIO/Architecs.Presentacion/Service References/HorarioService/HorarioService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Architects.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Architects.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHorarioBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HorarioBE" nillable="true" type="tns:HorarioBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHorarioBE" nillable="true" type="tns:ArrayOfHorarioBE" />
  <xs:complexType name="HorarioBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="B_Estado" type="xs:int" />
      <xs:element minOccurs="0" name="C_Rango" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="N_IdHorario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HorarioBE" nillable="true" type="tns:HorarioBE" />
</xs:schema>