trunk/slnCondominio/trunk/Test/Service References/SOAResidenteService/ResidenteService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Architects.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Architects.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfResidente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Residente" nillable="true" type="tns:Residente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResidente" nillable="true" type="tns:ArrayOfResidente" />
  <xs:complexType name="Residente">
    <xs:sequence>
      <xs:element minOccurs="0" name="B_Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="C_Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="C_Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="C_Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="C_Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="C_NumDocume" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="D_FecNacimi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="N_IdResidente" type="xs:int" />
      <xs:element minOccurs="0" name="N_TipoDoc" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Residente" nillable="true" type="tns:Residente" />
</xs:schema>