trunk/ARCHITECTSCONDOMINIO/Architecs.Presentacion/Service References/HorarioService/HorarioService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59182/HorarioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Architects.Dominio" />
  <xs:element name="ListarHorariosDisponibles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idEspacio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarHorariosDisponiblesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Architects.Dominio" minOccurs="0" name="ListarHorariosDisponiblesResult" nillable="true" type="q1:ArrayOfHorarioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarHorario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rango" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarHorarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Architects.Dominio" minOccurs="0" name="RegistrarHorarioResult" nillable="true" type="q2:HorarioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarHorario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idHorario" type="xs:int" />
        <xs:element minOccurs="0" name="rango" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarHorarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Architects.Dominio" minOccurs="0" name="ActualizarHorarioResult" nillable="true" type="q3:HorarioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarHorario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idHorario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarHorarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>